body {
  height: 100vh;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

span {
  font-size: 32px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.category {
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.attributes {
  border: 1px solid blue;
  padding: 2px;
}

.attributes:hover {
  background-color: blue;
  color: white;
}

.category:hover {
  background-color: black;
  color: white;
}

.price-and-rating {
  display: flex;
  justify-content: space-between;
}

#search {
  width: 1000px;
  padding: 10px;
}

#results {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px;
}



.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}